TELEGRAM_BOT_TOKEN=

LOGIN=
SECRET=

PAYDIGITAL_STEAM=
PAYDIGITAL_TOPUP=
PAYDIGITAL_VOUCHER=

DATABASE_URL=postgresql:

DATABASE_URL_UNPOOLED=

PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=

POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=

NEXT_PUBLIC_STACK_PROJECT_ID=
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=
STACK_SECRET_SERVER_KEY=

DB_TYPE=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_SSLMODE=

ADMIN_CHAT_NOTIFICATIONS=
SUPPORT_USERNAME =

ALLOWED_ORIGIN=